#container {
    width: 500px;
    height: 500px;
    margin-left: 450px;
    left: 300px;
    margin-top: 100px;
    background-color: whitesmoke;
}

body{
    margin:0;
    background-color: lightpink;
}

.rectangle {
    width: 50px;
    height: 50px;
    position: relative;
    
    top: 120px;
    left: 225px;

    background-color:#5F7E6C;

}



.rectangle2 {
    width: 50px;
    height: 50px;
    position: relative;
    
    top: 130px;
    left: 225px;

    background-color: #88B59B;

}


.rectangle3 {
    width: 50px;
    height: 50px;
    position: relative;
    
    top: 140px;
    left: 225px;

    background-color:#A3D9B9;


}