#container {
    width: 650px;
    height: 500px;

    background-color: whitesmoke;
}

.rectangle {
    width: 25px;
    height: 25px;
    position: absolute;
    
    top: 85px;
    left: 112px;

    background-color: lightseagreen;

}

.circle {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    top: 120px;
    left: 112px;

    background-color: aquamarine;
}