body {
    --pink: #ff1c68;
    --green: #14d790;
    --blue: #198fe3;
    --white: #fff;
    background: var(--white);
    font-family: "Source Sans Pro", sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .pen {
    flex: 1 1 100%;
  }
  
  .created-by {
    flex: 0 0 50px;
    background: #fff;
    color: #222;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
  }
  
  .logo {
    margin-left: 10px;
  }
  
  .pen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 50px;
    height: 50px;
    background: var(--blue);
    border-radius: 50%;
  }
  