#container {
    width: 500px;
    height: 500px;
    margin-left: 450px;
    left: 300px;
    margin-top: 100px;
    background-color: whitesmoke;
}

body{
    margin:0;
    background-color: lightpink;
}

.rectangle {
    width: 25px;
    height: 25px;
    position: relative;
    
    top: 60px;
    left: 112px;

    background-color: lightseagreen;

}

.another-rectangle{
    width: 40px;
    height: 40px;
    position: relative;
    top: 180px;
    left: 112px;
    background-color: #FFAF9C;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 200%;
    position: relative;
    background-color: #FFF07A;
    top: 300px;
    left: 112px;
}

