#container {
    width: 500px;
    height: 500px;
    margin-left: 300px;
    left: 300px;
    background-color: whitesmoke;
}

body{
    margin:0;
    background-color: lightpink;
}

.rectangle {
    width: 25px;
    height: 25px;
    position: relative;
    
    top: 85px;
    left: 112px;

    background-color: lightseagreen;

}

.another-rectangle{
    width: 40px;
    height: 40px;
    position: relative;
    top: 90px;
    left: 112px;
    background-color: palegoldenrod;
}