#container {
    width: 250px;
    height: 200px;

    background-color: whitesmoke;
}

.rectangle {
    width: 60px;
    height: 60px;
    position: relative;
    
    top: 85px;
    left: 112px;

    background-color: lightseagreen;

}