html,body {
    margin:0;
    background:white;

}

.container {
    width: 350px;
    padding: 2em;
    background:lightgrey;
    border-radius: 8px;
    margin: 10% auto;
}

.btn {
    width:100%;
    background:white;
    color: black;
    height: 30px;

}

