body{
    background-color: white;
    overflow: hidden;
}
.container {
    width: 265px;
    height: 320px;
    background-color:whitesmoke;
    border-radius: 25px;
    border: 2px solid black;

}

.container h1 {
    font-size: 30px;
    text-align: center;
}

input {
    width: 200px;
    padding: 12px 20px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 4px;

}

label {
    font-size: 15px;
    margin-left: 10px;
}


button{
    width: 150px;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 4px;
    background-color: #ff99cc;
    margin-left: 55px;
}


.menu h1{
    font-size: 40px;

}