#container {
    width: 500px;
    height: 600px;

    background-color: black;
}

.rectangle {
    width: 50px;
    height: 50px;
    position: relative;
    
    margin: 10px; 

    top: 10px;
    left: 10px;

    background-color: lightpink;

}

.emptyRectangle {
    width: 50px;
    height: 50px;
    position: relative;
    
    margin: 10px; 

    top: 10px;
    left: 10px;

    border-style: solid;
    border-color: lightpink;
}

.triangle {
    width: 0px;
    height: 0px;
    border: solid 30px;
    border-color: transparent transparent lightpink transparent;
    position: relative;
    margin: 10px;
    top: 10px;
    left: 10px;
    
}

.emptyTriangle{
    width: 0px;
    height: 0px;
    border: solid 30px;
    border-color: transparent transparent lightpink transparent;
    position: relative;
    margin: 10px; 
    top: 10px;
    left: 10px;
}